* { margin: 0; padding : 0; }
h1 {
    color: rgb(120, 175, 238);

}

footer {
    background-color: black;
    color: rgb(120, 175, 238);
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0%;
}
button{
    padding: 1px;
}
select{
    padding: 1px;
}

body {
    background-color: #AFAFAF;
    color: darkblue;
    padding: 30px;
    font-size: 25px;
}
.reef {
    background-color: #212121;
    color: rgb(120, 175, 238);
}
.whale {
    background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/80465306_NBCviyvUGpW1V0s.png?1712839285");
    background-repeat: repeat;
    color: white;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.puzzle{
    padding: 15PX;
    align-items:center;
    align-self: center;
    justify-content: center;
}

.cell{
    min-width: 25px;
    height: 25px;
    border: 1px solid rgb(112, 112, 112);
    border-spacing:0;
    border-collapse: collapse;
    background-color: #a4a4a4;
}

.cell:hover{
    box-shadow: 0 0 9px 4px rgb(120, 175, 238) inset;
}

.cell.selected{
    background-color:rgb(9, 89, 182);
}

.cell.rselected{
    background-color:#EDD690;
}

.wrong{
    background-color: red;
}

.perfect{
    background-color: pink;
}
.emptyperfect{
    background-color: transparent;
}

.buttonselect{
    border: gray;
    border-radius: 10px;
    border-style: dashed;
    border-width: 3px;
    padding: 4px;
    margin: 5px;
}

.cell.firstrow{
    background-color: transparent;
	line-height: 1.3;
	padding-bottom: 5px;
    padding-top: 10px;
	text-align: center;
	vertical-align: bottom;
    border-top: 0px;
    box-shadow: none;
}
.cell.firstcol {
    background-color: transparent;
	min-width: 25px;
	padding-right: 10px;
	text-align: right;
	vertical-align: middle;
    border-left: 0px;
    box-shadow: none;
}

#puzzle td.cell:nth-child(5n + 1) {
	border-right: 1px solid #555;
}

em {
    color: #ccc;
    text-decoration: line-through;
}
.wrongLbl{
    padding: 10px;
    border: gray;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}
