* { margin: 0; padding : 0; }
h1 {
    color: rgb(9, 9, 203);

}

footer {
    
    text-align: center;
    border-top: #313131;
    border-left: 0px;
    border-bottom: 0px;
    border-style: dashed;
    color: rgb(120, 175, 238);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
    left: 0%;
    height: 70px;
    position: absolute;
}
button{
    padding: 3px;
    font-size: 20px;
}
select{
    padding: 3px;
    font-size: 20px;
}
#testButton{
    font-size: 20px;
}
#seedStart{
    padding: 3px;
    font-size: 20px;
}

body {
    background-color: #AFAFAF;
    color: darkblue;
    padding: 30px;
    font-size: 30px;
}
.reef {
    background-color: #212121;
    color: rgb(120, 175, 238);
}
.whale {
    background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/80465306_NBCviyvUGpW1V0s.png?1712839285");
    background-repeat: repeat;
    color: white;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.puzzle{
    padding: 15PX;
    align-items:center;
    align-self: center;
    justify-content: center;
}

.cell{
    min-width: 32px;
    height: 30px;
    border-right: 1px solid rgb(112, 112, 112);
    border-top: 1px solid rgb(112, 112, 112);
    border-spacing:0;
    border-collapse: collapse;
    background-color: #a4a4a4;

}
.cell:hover{
    background-color: rgb(41, 177, 102) 
}



.cell.selected{
    background-color:rgb(9, 89, 182);
    /*box-shadow: 0 0 6px 3px rgb(7, 69, 139) inset;*/
    pointer-events: none;
}

.cell.rselected{
    background-color:#EDD690;
    /*box-shadow: 0 0 6px 4px #E7C663 inset;*/
    pointer-events: none;
}


.cell:hover{
    box-shadow: 0 0 7px 4px rgb(30, 136, 78) inset;
}

.perfect{
    background-color: pink;
    pointer-events: none;
}
.emptyperfect{
    background-color: transparent;
    pointer-events: none;
}
.finished{
    background-color: palevioletred;
    pointer-events: none;
}
.emptyfinished{
    background-attachment: transparent;
    pointer-events: none;
}

.buttonselect{
    border: gray;
    border-radius: 10px;
    border-style: dashed;
    border-width: 3px;
    padding: 4px;
    margin: 5px;
}

.wrong{
    box-shadow: 0 0 4px 2px rgb(255, 0, 0) inset;
}
.cell.firstrow{
    background-color: transparent;
	line-height: 1.3;
	padding-bottom: 5px;
    padding-top: 10px;
	text-align: center;
	vertical-align: bottom;
    border-top: 0px;
    box-shadow: none;
}
.cell.firstcol {
    background-color: transparent;
	min-width: 25px;
	padding-right: 10px;
	text-align: right;
	vertical-align: middle;
    border-left: 0px;
    box-shadow: none;
}

#puzzle td.cell:nth-child(5n + 1) {
	border-right: 1px solid #000000;
}
#puzzle td:nth-child(5n + 1) {
	border-right: 1px solid #000000;
}
#puzzle tr:nth-child(5n + 1) td {
	border-bottom: 1px solid #000000;
}

#puzzle tr:nth-child(5n + 2) td {
	border-top: 1px solid #000000;
}

em {
    color: #ccc;
    text-decoration: line-through;
}
.wrongLbl{
    padding: 10px;
    border: gray;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    pointer-events: none;
}
